/*
*	Chat Connect 2024, allstays.com.br	
*/



.code{
	font-family: courier new;
	color: grey;
	background-color: grey;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
	
.class {
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: linear-gradient(grey, white);
	color: black;
}
.bold{
	color: red;
	font-weight: bold;	
}
.scroll {
	margin :auto; 
	width :50%;
	max-width: 30%;
}

.popup {
	visibility: hidden;
	top: -9999px;
	position: absolute;
}

.text-box {
	color :white;
	font-family: Hack;
	background-color: black;
	border: 0px;
	padding: 20px;
	border-radius: 25px;	 
}

